[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.0.x.cfg
    http://good-py.appspot.com/release/plone.app.registry/1.0b2
package-name = collective.oembed
package-extras = [tests]

extensions=mr.developer

#auto-checkout=*

parts += omelette zopepy

[instance]
eggs+=
    collective.portlet.oembed

[omelette]
recipe=collective.recipe.omelette
eggs=${instance:eggs}

[zopepy]
recipe=zc.recipe.egg
eggs=${instance:eggs}
interpreter=zopepy

[sources]
python-oembed = git https://github.com/abarmat/python-oembed.git
collective.js.oembed = git git://github.com/collective/collective.js.oembed.git
collective.js.oembedall = git git://github.com/toutpt/collective.js.oembedall.git
collective.portlet.oembed = git git://github.com/collective/collective.portlet.oembed.git
#tiles dep
collective.oembedtile = git git://github.com/toutpt/collective.oembedtile.git
plone.app.tiles = git git://github.com/plone/plone.app.tiles.git
plone.app.blocks = git git://github.com/plone/plone.app.blocks.git
plone.tiles = git git://github.com/plone/plone.tiles.git
five.intid = git git://github.com/plone/five.intid.git
plone.app.intid = git git://github.com/plone/plone.app.intid.git
